streamlit==1.33.0
pytesseract==0.3.10
opencv-python-headless==4.9.0.80
pdf2image==1.17.0
sentence-transformers==2.7.0
faiss-cpu==1.7.4
python-dotenv==1.0.1
Pillow==10.3.0
PyPDF2==3.0.1
pdfminer.six==20221105
markdown-it-py==2.2.0  # Pinned to avoid conflict
mdurl==0.1.2
pygments==2.19.2
rich==14.1.0
